<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, :fill, 90, 90, format: 'png', fallback: "no_image.png" %>
<p>
<strong>Name</strong>
<%= user.name %>
</p>
<p>
<strong>introduction</strong>
<%= user.introduction %>
</p>
<div>
<%= link_to "ユーザー設定", edit_user_path(user)  %>
</div>

<h2>New book</h1>
  <%= form_with model:book, local:true do |f| %>
  <h4>Title</h4>
  <label for="inputTitle"></label>
  <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"title"%>
  <h4>Opinion</h4>
  <label for="Opinion"></label>
  <%= f.text_area :body, autofocus: true, id:"Opinion", placeholder:"Opinion"%>
  <div>
  <%= f.submit "Create Book" %>
  </div>
<% end %>
