<h2>User info</h2>
<table class = "table">
<tr><%= attachment_image_tag user, :profile_image, :fill, 90, 90, format: 'png', fallback: "no_image.png" %></tr>
<tr>
<th>Name</th>
<th><%= user.name %></th>
</tr>
<tr>
<th>introduction</th>
<th><%= user.introduction %></th>
</tr>
</table>

<div>
<%= link_to "ユーザー設定", edit_user_path(user), class: "btn btn-outline-secondary btn-block" %>
</div>

  <h2>New book</h1>
  <%= form_with model:book, local:true do |f| %>
  <h4>Title</h4>
  <label for="inputTitle"></label>
  <%= f.text_field :title, autofocus: true,  placeholder:"title"%>
  <h4>Opinion</h4>
  <label for="Opinion"></label>
  <%= f.text_area :body, autofocus: true,  placeholder:"Opinion"%>
  <div>
  <%= f.submit "Create Book" %>
  </div>
<% end %>
