<h1>Users</h1>
<table>
    <thead>
        <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
        </tr>
    </thead>

<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= image_tag('sample-author1.jpg') %>
   <td><%= link_to 'Show', user_path(user.id), class:"show_#{user.id}" %></td>
</div>
  
<!--アプリケーションを作ろう２の５章を確認しながら作っていたが、合っているのか。アタッチメントのprofile_imageは適用されてるのか？-->
<% @books.each do |book| %>
<div>
  <%= link_to books_path(book.id) do %>
    <%= attachment_profile_image_tag book, :image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag('sample-author1.jpg') %></p>
  <p>ショップ名：<%= post_image.shop_name %></p>
  <p>説明：<%= post_image.caption %></p>
  <p>ユーザーネーム：<%= post_image.user.name %></p>
</div>
<% end %>
<%= paginate @books %>