<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
 <% end %>
 
 <% if flash[:update] %>
      <div class="flash">
        <%= flash[:update] %>
      </div>
 <% end %>

<h2>Books</h2>
<p>
<strong>Title:</strong>
<%= @book.title %>
</p>

<p><strong>Opinion:</strong>
<%= @book.body %>
</p>

<%= link_to "Edit", edit_book_path(@book.id) %>

<%= link_to "Back", books_path %>


