<%= render 'users/list', users: @users %>
<h2>Book detail</h2>
<table>
　<tbody>
　<tr>
　<div class="profile-container">
   <td><%= attachment_image_tag @user, :profile_image, :fill, 20, 20, format: 'png', fallback: "no_image.png" %><br>
   <%= link_to @user.name, user_path(@user)%></td>
 <td><%= @book.title %></td>
 
  <div class="profile-Opinion">
   <td><%= @book.body %></td>
   <td><%= link_to "Edit", edit_book_path(@book), class:"edit_#{@book}" %></td>
    <td><%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class:"destroy_#{@book}" %></td>
   </div>
   </tr>
 </tbody>
</table>
<!--下のはいらない？-->
<!--@books（モデルBook)なので、-->