<h2>Book detail</h2>
<table>
　<tbody>
　<% if @user.id == current_user.id %>
　<% @users.each do |user| %>
　　<div class="profile-container">
    <h3 class="profile-image"><%= @user.image %></h3>
    <%= image_tag('sample-author1.jpg') %>
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
 <h4>Title</h4>
 <span>
    <%= link_to user.title, book_path(list.id) %>
    <!--構文合ってる？-->
 </span>
 <h4>Opinion</h4>
  <h3 class="profile-Opinion"><%= @user.Opinion %></h3>
   
   </div>
  <% end %>
 </tbody>
</table>
<!--下のはいらない？-->
<!--@books（モデルBook)なので、-->
<%= render 'books/list', books: @books %>
