<% if flash[:update] %>
      <div class="flash">
        <%= flash[:update] %>
      </div>
<% end %>

<% if flash[:create] %>
      <div class="flash">
        <%= flash[:create] %>
      </div>
<% end %>

    <div class="col-md-3" >
        <%= render 'users/list', user: @book.user, book: @book_new %>
    </div>
    
    <div class="offset-md-1 col-md-8">
        <h2>Book detail</h2>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                    <%= link_to  user_path(@user)  do %>
                    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'png', fallback: "no_image.png" %><br>
                    <%= @user.name %>
                    <% end %>
                    </td>
                    <td><%= link_to @book.title, book_path(@book) %></td>
                    <td><%= @book.body %></td>
                    <% if @book.user == current_user %>
                    <td><%= link_to "Edit", edit_book_path(@book), class:"edit_#{@book}", class: "btn btn-success" %></td>
                    <td><%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, 
                    class:"destroy_#{@book}", class: "btn btn-danger" %></td>
                    <% end %>
                </tr>
            </tbody>
        </table>
    </div>
</div>